*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* auto-fit geht hier nicht. aber der browser kommt klar. finde raus, wie es richtig geht! */
  grid-template-rows: auto-fit 1fr;
  background-color: #98c1d9;
  color: #03071e;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  /* max-width: 80%;
  justify-items: center; */
  justify-items: center;
}

header {
  grid-column-start: 2;
  grid-row-start: 1;
}

main {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  max-width: 80%;
}

a {
  text-decoration: none;
  color: #ee6c4d;
}

a:hover {
  text-decoration: underline;
}

p,
h2 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 4em;
}

nav {
  width: 700px;
}

ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  list-style: none;
}

#hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  background-color: #3d5a80;
  padding: 2em;
}

/* margin zentriert den bildausschnitt */
.img {
  width: 400px;
  height: auto;
  margin-left: -25%;
}

.image-cropper {
  width: 250px;
  height: 250px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  margin: 3em 3em 3em 8em;
}

.hero-text {
  margin-top: 2em;
  font-weight: bold;
}

#about {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  background-color: #98c1d9;
}

.about-me {
  padding: 3em;
  max-width: 300px;
}

.icon {
  width: 100%;
  display: grid;
  justify-content: center;
  margin-bottom: 1em;
}

.icon img {
  width: 4em;
}

#contact {
  background-color: #3d5a80;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact-info {
  display: grid;
  align-items: end;
  margin: 2em;
}

#contact h2 {
  margin-bottom: 1em;
}

.download-icon {
  width: 1em;
}

#easteregg {
  min-height: 800px;
  display: grid;
  justify-content: center;
  align-content: end;
}

#onigiri {
  width: 3em;
}
